<!DOCTYPE html>
<html >
    <head>
            <title>About</title>
            <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
            <div class="main-content">
                {{>header}}
                <img class="portrit" src="./img/thumb_IMG_0647_1024.jpg" alt="">  
            </div>
            
            {{>footer}}
        </body>
</html>